# ignore stuff or something... 🙃

# ignore vscode stuff
.vscode/*

# don't ignore settings (important for live sass compiler and stuff)
!.vscode/settings.json


# ignore idea stuff
.idea/*

# don't ignore scopes (used to hide certain files/folders)
!.idea/scopes/*

# don't ignore file watchers (used for scss)
!.idea/file_watchers/*
!.idea/watcherTasks.xml

